@import '../../../../../scss/common';

.register {
  display: grid;
  gap: $gap;
  padding: calc($gap * 3);
  @include ul {
    padding: calc($gap * 2);
  }
  @include xl {
    padding: $gap;
  }
  &__title {
    display: grid;
    gap: calc($gap / 2);
    &-subtitle {
      p {
        font-weight: 400;
        color: $color-neutral-04;
        span {
          font-weight: 600;
          color: $color-accent-green;
          cursor: pointer;
        }
      }
    }
  }
  &__form {
    .form {
      display: grid;
      gap: calc($gap / 2);
      &__input {
        input {
          padding-bottom: 16px;
          outline: none;
          border: none;
          border-bottom: 1px solid $color-neutral-03;
          width: 100%;
        }
      }
      &__checkbox {
        display: flex;
        gap: calc($gap / 2);
        align-items: center;
        input {
          width: 24px;
          height: 24px;
        }
        p {
          color: $color-neutral-04;
          font-weight: 400;
          span {
            color: $color-neutral-07;
          }
        }
      }
    }
  }
}