<div class="container">
  <div class="categories">
    <div class="categories__item">
      <div class="title">
        <h5>Living Room</h5>
      </div>
      <div class="link">
        <app-link>Shop Now -></app-link>
      </div>
    </div>
    <div class="categories__item">
      <div class="title">
        <h5>Bedroom</h5>
      </div>
      <div class="link">
        <app-link>Shop Now -></app-link>
      </div>
    </div>
    <div class="categories__item">
      <div class="title">
        <h5>Kitchen</h5>
      </div>
      <div class="link">
        <app-link>Shop Now -></app-link>
      </div>
    </div>
  </div>
</div>