<div class="form">
  <div class="form__title">
    <h4>Contact Us</h4>
  </div>
  <div class="form__contacts">
    <div class="form__contacts-item">
      <div class="icon">
        <img src="../../../../../assets/images/icons/address.png" alt="Address icon">
      </div>
      <div class="title">
        <span>ADDRESS</span>
      </div>
      <div class="text">
        <p>234 Hai Trieu, Ho Chi Minh City,
          Viet Nam</p>
      </div>
    </div>
    <div class="form__contacts-item">
      <div class="icon">
        <img src="../../../../../assets/images/icons/phone.png" alt="Phone icon">
      </div>
      <div class="title">
        <span>CONTACT US</span>
      </div>
      <div class="text">
        <p>+84 234 567 890</p>
      </div>
    </div>
    <div class="form__contacts-item">
      <div class="icon">
        <img src="../../../../../assets/images/icons/email.png" alt="Email icon">
      </div>
      <div class="title">
        <span>EMAIL</span>
      </div>
      <div class="text">
        <p>hello&#64;3legant.com</p>
      </div>
    </div>
  </div>
  <div class="form__form">
    <form class="contact-form">
      <div class="row">
        <label for="name">Full name</label>
        <input id="name" type="text" formControlName="name">
      </div>
      <div class="row">
        <label for="email">Email address</label>
        <input id="email" type="text" formControlName="email">
      </div>
      <div class="row">
        <label for="message">Message</label>
        <textarea id="message" cols="30" rows="5" formControlName="message"></textarea>
      </div>
      <div class="btn">
        <app-btn-primary>Send Message</app-btn-primary>
      </div>
    </form>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5172101844655!2d106.70224467573597!3d10.771642359280532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f414519d1f9%3A0xc0bd40da46e38fe0!2zxJAuIEjhuqNpIFRyaeG7gXUsIELhur9uIE5naMOpLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCDQktGM0LXRgtC90LDQvA!5e0!3m2!1sru!2s!4v1714205370137!5m2!1sru!2s"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>