@import '../../../../../../../scss/common';

.delivery {
  display: grid;
  gap: $gap;
  &__title {
    h6 {
      font-size: 20px;
    }
  }
  &__row {
    @extend %row;
    &-col {
      width: 100%;
      input {
        @extend %input;
      }
    }
  }
}