<form class="payment" [formGroup]="paymentForm">
  <div class="payment__title">
    <h6>Payment</h6>
  </div>
  <div class="payment__row">
    <div class="payment__row-col">
      <label for="card">Card Number</label>
      <div class="input">
        <input id="card" type="text" appCardNumber placeholder="1234 1234 1234 1234" formControlName="card">
        @if(paymentForm.get('card')?.hasError('required') && paymentForm.get('card')?.touched) {
          <app-validation-message>Card number is required</app-validation-message>
        }
      </div>
    </div>
  </div>
  <div class="payment__row">
    <div class="payment__row-col">
      <label for="expiration">Expiration Date</label>
      <div class="input">
        <input id="expiration" type="text" placeholder="MM/YY" formControlName="expiration">
      </div>
    </div>
    <div class="payment__row-col">
      <label for="cvc">Cvc</label>
      <div class="input">
        <input id="cvc" type="number" placeholder="CVC code" formControlName="cvc">
        @if(paymentForm.get('cvc')?.hasError('required') && paymentForm.get('cvc')?.touched) {
          <app-validation-message>CVC is required</app-validation-message>
        }
      </div>
    </div>
  </div>
</form>