<div class="container">
  <div class="products">
    <div class="products__filter">
      <div class="filter">
        <div class="filter__categories">
          <label for="category">Categories</label>
          <select id="category" [(ngModel)]="selectedCategory" (change)="filterProductsByCategory()">
            <option value="All" selected>All</option>
            @for (category of categoryData; track category) {
              <option value="{{category}}">{{category}}</option>
            }
          </select>
        </div>
        <div class="filter__price">
          <label for="price">Price</label>
          <select [(ngModel)]="selectedPrice" name="price" id="price" (change)="filterProductsByPrice()">
            <option value="All">All</option>
            <option value="Under">under 100$</option>
            <option value="Over">over 100$</option>
          </select>
        </div>
      </div>
      <div class="sort">
        <div class="sort__by">
          <select id="sortBy" [(ngModel)]="selectedSort" (change)="applySort()">
            <option value="" selected hidden>Sort by</option>
            <option value="priceDesc">Price descendent</option>
            <option value="priceAsc">Price ascendent</option>
            <option value="newest">Newest</option>
            <option value="rating">Rating</option>
          </select>
        </div>
        <div class="sort__items">
          <app-btn-grid
        [active]="activeFilter === 'grid4x4'"
        [imageSrc]="'../../../../../assets/images/filters/grid3x3.png'"
        [altText]="'Grid image'"
        (btnClick)="setActiveFilter('grid4x4'); changeGridLayout('grid4x4')"></app-btn-grid>
        <app-btn-grid
        [active]="activeFilter === 'grid3x3'"
        [imageSrc]="'../../../../../assets/images/filters/grid2x2.png'"
        [altText]="'Grid image'"
        (btnClick)="setActiveFilter('grid3x3'); changeGridLayout('grid3x3')"></app-btn-grid>
        <app-btn-grid
        [active]="activeFilter === 'grid2x2'"
        [imageSrc]="'../../../../../assets/images/filters/grid1x1_horizontal.png'"
        [altText]="'Grid image'"
        (btnClick)="setActiveFilter('grid2x2'); changeGridLayout('grid2x2')"></app-btn-grid>
        </div>
      </div>
    </div>
    <div class="products__items" [ngClass]="{
      'products-grid-4x4' : gridLayout === 'grid4x4',
      'products-grid-3x3' : gridLayout === 'grid3x3',
      'products-grid-2x2' : gridLayout === 'grid2x2',
    }">
      @for (product of filteredProducts; track product) {
        <div class="product__items-item">
          <app-product-card [product]="product"></app-product-card>
        </div>
      }
    </div>
    @if (showMoreBtn()) {
      <div class="products__btn" (click)="loadMore()">
        <app-btn-load>Show more</app-btn-load>
      </div>
    }
  </div>
</div>