<div class="container">
  <div class="arrivals">
    <div class="arrivals__header">
      <div class="arrivals__header-title">
        <h4>New Arrivals</h4>
      </div>
      @if(onResize() > 992) {
        <div class="arrivals__header-link" routerLink="/shop">
          <app-link>More  Products -></app-link>
        </div>
      }
    </div>
    <div class="arrivals__products">
      <div class="arrivals__products-items">
        @for (product of products; track product) {
          <div class="item">
            <app-product-card [product]="product"></app-product-card>
          </div>
        }
      </div>
    </div>
    @if(onResize() < 992) {
      <div class="arrivals__link" routerLink="/shop">
        <app-link>More  Products -></app-link>
      </div>
    }
  </div>
</div>