<div class="container">
  <div class="articles">
    <div class="articles__header">
      <div class="articles__header-title">
        <h4>Articles</h4>
      </div>
      <div class="articles__header-link">
        <app-link>More Articles -></app-link>
      </div>
    </div>
    <div class="articles__items">
      <div class="articles__items-item">
        <app-article-card></app-article-card>
      </div>
      <div class="articles__items-item">
        <app-article-card></app-article-card>
      </div>
      <div class="articles__items-item">
        <app-article-card></app-article-card>
      </div>
    </div>
  </div>
</div>