@import '../../../../scss/common';

.card {
  display: grid;
  grid-template-rows: 350px 72px;
  gap: 12px;
  &:hover {
    .card {
      &__image {
        &-btn {
          display: block;
          animation: btnAppearance 0.3s ease-in;
        }
        &-content {
          .right {
            display: block;
            animation: btnAppearance 0.3s ease-in;
          }
        }
      }
    }
  }
  &__image {
    position: relative;
    padding: $gap;
    background-color: #F3F5F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      img  {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      z-index: 1;
      display: flex;
      justify-content: space-between;
      .left {
        width: 70px;
        display: grid;
        gap: calc($gap / 2);
      }
      .right {
        display: none;
      }
    }
    &-btn {
      z-index: 2;
      display: none;
    }
  }
  &__content {
    cursor: pointer;
    .title {
      strong {
        font-size: 16px;
      }
    }
    .price {
      display: flex;
      gap: 10px;
      align-items: center;
      &__new {
        strong {
          font-size: 16px;
        }
      }
      &__old {
        span {
          text-decoration: line-through;
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes btnAppearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}