@import '../../../../../scss/common';

.address {
  display: grid;
  gap: $gap;
  &__title {
    span {
      font-size: 20px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
    @include lg {
      grid-template-columns: 1fr;
    }
    .item {
      padding: 16px;
      border: 1px solid $color-neutral-04;
      border-radius: 8px;
      &__title {
        display: flex;
        justify-content: space-between;
        &-btn {
          .btn {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            span {
              color: $color-neutral-04;
            }
          }
        }
      }
      &__content {
        &-text {
          display: flex;
        }
        span {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
  &__form {
    .billing,
    .shipping {
      display: grid;
      gap: $gap;
      max-width: max-content;
      &__row {
        @extend %row;
        &-input {
          display: flex;
          flex-direction: column;
          gap: 5px;
          input {
            @extend %input;
          }
          select {
            border: 1px solid #CBCBCB;
          }
        }
      }
      &__btn {
        display: flex;
      }
    }
  }
}