@import '../../../../../scss/common';

.container {
  @extend %container;
  .values {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: calc($gap * 2.5) 0;
    gap: $gap;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      gap: calc($gap / 2);
    }
    &__item {
      padding: calc($gap * 2) calc($gap * 1.5);
      background-color: $color-neutral-02;
      display: flex;
      flex-direction: column;
      gap: $gap;
      @include lg {
        padding: calc($gap * 1.5) $gap;
      }
      @include sm {
        padding: calc($gap / 2);
        gap: calc($gap / 2);
      }
      &-text {
        span {
          color: $color-neutral-04;
          font-weight: 400;
          font-family: $font-header;
        }
      }
    }
  }
}