<div class="banner">
  <div class="banner__image">
    <img src="../../../../../assets/images/home/banner/banner.webp" alt="Banner image">
  </div>
  <div class="banner__content">
    <div class="banner__content-subtitle">
      <span>Sale up to 35% off</span>
    </div>
    <div class="banner__content-title">
      <h4>HUNDREDS of New lower prices!</h4>
    </div>
    <div class="banner__content-text">
      <p>It’s more affordable than ever to give every room in your home a stylish makeover</p>
    </div>
    <div class="banner__content-link">
      <app-link>Shop Now -></app-link>
    </div>
  </div>
</div>