<div class="values">
  <div class="container">
    <div class="values__items">
      <div class="values__items-item">
        <div class="icon">
          <img src="../../../assets/images/icons/delivery.png" alt="Delivery icon">
        </div>
        <div class="content">
          <div class="content__title">
            <strong>Free Shipping</strong>
          </div>
          <div class="content__text">
            <span>Order above $200</span>
          </div>
        </div>
      </div>
      <div class="values__items-item">
        <div class="icon">
          <img src="../../../assets/images/icons/money.png" alt="Money icon">
        </div>
        <div class="content">
          <div class="content__title">
            <strong>Money-back</strong>
          </div>
          <div class="content__text">
            <span>30 days guarantee</span>
          </div>
        </div>
      </div>
      <div class="values__items-item">
        <div class="icon">
          <img src="../../../assets/images/icons/secure.png" alt="Secure icon">
        </div>
        <div class="content">
          <div class="content__title">
            <strong>Secure Payments</strong>
          </div>
          <div class="content__text">
            <span>Secured by Stripe</span>
          </div>
        </div>
      </div>
      <div class="values__items-item">
        <div class="icon">
          <img src="../../../assets/images/icons/support.png" alt="Support icon">
        </div>
        <div class="content">
          <div class="content__title">
            <strong>24/7 Support</strong>
          </div>
          <div class="content__text">
            <span>Phone and Email support</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="values__wrapper"></div>
</div>
