@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@500&display=swap');
@import 'scss/common';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-header;
  font-weight: 500;
  color: $color-primary;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 72px;
  @include xl {
    font-size: 62px;
  }
  @include sm {
    font-size: 30px;
  }
}

h3 {
  font-size: 54px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 34px;
  @include sm {
    font-size: 24px;
  }
}

h6 {
  font-size: 28px;
}

p, span {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 600;
}

strong {
  font-family: $font-header;
  font-size: 24px;
  font-weight: 500;
  color: $color-primary;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-family: $font-main;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

button {
  font-family: $font-main;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $color-neutral-07;
  border-radius: 50%;
  color: $color-neutral-01;
  font-family: $font-main;
  font-size: 12px;
  font-weight: 700;
}