@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@500&display=swap');
@import 'scss/common';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

strong {
  font-family: $font-header;
  font-size: 24px;
  font-weight: 500;
  color: $color-primary;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-family: $font-main;
  font-weight: 500;
  cursor: pointer;
  color: black;
}

button {
  font-family: $font-main;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $color-neutral-07;
  border-radius: 50%;
  color: $color-neutral-01;
  font-family: $font-main;
  font-size: 12px;
  font-weight: 700;
}