%container {
  max-width: 1440px;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}

%wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

%input {
  padding: 5px 16px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  width: 100%;
  height: 100%;
  position: relative;
}

%row {
  display: flex;
  gap: $gap;
  justify-content: space-between;
}
