$color-primary: #000000;
$color-accent-blue: #377DFF;
$color-accent-green: #38CB89;
$color-accent-orange: #FFAB00;
$color-accent-red: #FF5630;
$color-neutral-01: #FEFEFE;
$color-neutral-02: #F3F5F7;
$color-neutral-03: #E8ECEF;
$color-neutral-04: #6C7275;
$color-neutral-05: #343839;
$color-neutral-06: #232627;
$color-neutral-07: #141718;