<div class="container">
  <div class="hero">
    <div class="hero__links">
      <div routerLink="/home" routerLinkActive="active" class="hero__links-link">Home</div>
      <div><img src="../../../../../assets/images/icons/link_arrow.png" alt=""></div>
      <div routerLink="/blog" routerLinkActive="active" class="hero__links-link">Blog</div>
    </div>
    <div class="hero__title">
      <h3>Our Blog</h3>
    </div>
    <div class="hero__subtitle">
      <span>Home ideas and design inspiration</span>
    </div>
  </div>
</div>