@import '../../../../../scss/common';

.details {
  width: 100%;
  animation: appearance 1s forwards;
  @keyframes appearance {
    from {
      opacity: 0;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap;
    &-title {
      span {
        font-size: 20px;
      }
    }
    &-input {
      display: flex;
      flex-direction: column;
      gap: calc($gap / 2);
      position: relative;
      input {
        @extend %input;
      }
    }
    &-btn {
      display: flex;
      justify-content: start;
    }
  }
}